/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main{
  padding-top: 64px; /* Adjust based on toolbar height */

}
// .mat-progress-wrapper{ 
//   position: absolute !important;
//   z-index: -1;
//   background-color: transparent; 
//   width: 100% !important;
//   height: 100% !important;
// }
mat-progress-spinner {
  z-index: 1000;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
