<div style="width: 100%; display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column;">
    <h2>Add Contact</h2>
<form style="display: flex; flex-direction: column; width: 50%;">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" required>
    </mat-form-field>

    <div class="container-buttons">
        <button mat-flat-button color="primary">Add</button>
        <button mat-raised-button color="warn">Cancel</button>
    </div>
</form>
</div>